#hero-about{
    width: 100%;
    height: 70vh;
    background: url("../img/Tagaste 1.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }
  #hero-about:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .welcome h1{
    text-decoration: underline #ec1620;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
  }
  .welcome h2{
    margin-top: 30px;
  }
  
/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/

.wrapper{
    padding-top: 40px;
  }
  
  .carousel img {
    max-height: 300px;
    margin: 0 auto;
    object-fit: cover;
  }
  
  @media (max-width: 500px) {
    .carousel{
      margin-top: 20px;
    }
  }

  h3{
    color: #ec1620;
    text-decoration: underline #fdf200;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
  }
  
  
/*--------------------------------------------------------------
# history section
--------------------------------------------------------------*/
.history{
  position: relative;
  margin-top: 20px;
}