.header{
  width: 100%;
  height: 15%;
  background:  rgba(12, 11, 9, 0.6);
}
@media (max-width: 591px) {
  .img-fluid{
    width: 50px;
  }
  .header{
    height: 10%;
    
  }
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
#hero{
  width: 100%;
  height: 100vh;
  background: url("../img/2nd6.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 110px;
}
#hero, h1, h2{
  color: white;
}

#hero, .btns{
  display: flex;
  gap: 20px;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


@media (max-height: 500px) {
  #hero {
    height: auto;
    position: relative;
    top: 100px;
  }

  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  #hero, .btns{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
#hero{
  position: relative;
  
}
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero, .btns{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
}

/*--------------------------------------------------------------
#featured section
--------------------------------------------------------------*/
.featured  header{
    color: #ec1620;
    font-size: 24px;
    font-style: italic;
    border-bottom: 2px solid #fdf200;
    
}
.feature-length{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-content{
  width: 75%;
  height: 350px;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);

}
@media (max-width: 500px) {
  .feature-content{
    width: 90%;
  }
}
.img{
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 1.1s;
}
.image-doors{
  background-image: url("../img/student1.jpg");
}
.image-gradu{
  background-image: url("../img/student2.jpg");
}
.image-uniform{
  background-image: url("../img/student3.jpg");
}

.img:hover{
  transform: scale(1.2);
}
.featured-info{
  position: relative;
  text-align: center;
  font-size: 14px;
  top: -70px;
  color: #fff;
}

/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/

.wrapper{
  padding-top: 40px;
}

.carousel img {
  max-height: 300px;
  margin: 0 auto;
  object-fit: cover;
}